<!doctype html>
<html>
<head>
  <script src="../javascript/jquery-2.1.0.min.js"></script>
  <script src="../javascript/bootstrap.min.js"></script>
  <link href="../css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>title</th>
        <th>url</th>
      </tr>
    </thead>
    <tbody class="topics">
    </tbody>
  </table>
  <button id="clear" type="button" class="btn btn-default">Clear</button>
  <script src="../javascript/common.js"></script>
</body>
</html>
